.nav-home {
  padding: 20px;
  background-color: #eaedf3;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.featured-listing {
  background-color: #fff;
  padding: 50px;
}

.card-custom-style {
  margin: 15px 20px 20px 10px;
}
